// ==============================
// Archive
// =============================
.archive {
  margin: $archive-margin;
  line-height: 1.6;

  .archive-post+.collection-title {
      margin-top: 30px;
  }

  .archive-title {
    font-family: $global-font-family;

    &.tag,
    &.category {
      margin: 15px 0;
    }

    .archive-name {
      margin: 0;
      display: inline-block;
      font-weight: 400;
      font-size: $archive-name-font-size;
      line-height: $archive-name-font-size + 2px;
    }
  }

  .collection-title {
    font-family: $global-font-family;
    font-size: $archive-name-font-size;

    .archive-year {
      margin: 18px 0;
      font-weight: 400;
      font-size: $collection-title-font-size;
      line-height: $collection-title-font-size + 5px;
    }
  }

  .archive-post {
    margin: 15px 0;

    .archive-post-time {
      float: left;
      overflow: hidden;
      color: #aaa;
      font-size: 14px;
      line-height: 25px;
      display: block;
    }

    .archive-post-title {
        margin-left: 85px;
        display: block;
        .archive-post-link {
        color: rgb(51, 51, 51);
        }
    }

    &:first-child {
      margin-top: 20px;
    }

    &:hover {
      transition: $archive-post-hover-transition;
      transform: $archive-post-hover-transform;

      .archive-post-time {
        color: $theme-color;
      }

      .archive-post-title .archive-post-link {
        color: $theme-color;
      }
    }
  }
}
.post-toc {
  position: fixed;
  top: 18%;
  width: $post-toc-width;
  margin-left: $post-toc-margin-left;
  padding: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 5px;
  background: $post-toc-backgroud;
  word-wrap: break-word;
  box-sizing: border-box;

  .post-toc-title {
    margin: 0 10px;
    font-size: $post-toc-title-size;
    font-weight: 400;
    text-transform: uppercase;
  }

  .post-toc-content {
    font-size: $post-toc-content;

    .toc,
    .toc-child {
      list-style: $post-toc-list-style;
    }

    .toc {
      margin: 10px 0;
      padding-left: 20px;

      .toc-child {
        padding-left: 15px;
      }
    }

    .toc-link.active {
      color: $theme-color;
    }
  }
}
@media screen and (max-width: $toc-max-sreen-width) {
  .post-toc {
    display: none;
  }
}